
:root {
    --text-color: #434343;
    --bg-color: #FFE49D;
    --primary-color: #EDB343;
    --secondary-color: #F4F4F4;
    --accent: #FF5252;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
}

.nav {
    width: 15rem;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    color: var(--text-color)
}

.nav .nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav .nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease;
    position: relative;
}

.nav .nav-links a:hover {
    color: var(--accent);
}
.nav .nav-links a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    bottom: -5px; /* Adjust the value to move the line down */
}

.nav .nav-links a:hover::before {
    transform: scaleX(1);
    bottom: -5px; /* Adjust the value to move the line down */
}

.nav .nav-links a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    bottom: -5px; /* Adjust the value to move the line down */
}

.nav .nav-links a:hover::after {
    transform: scaleX(1);
    bottom: -5px; /* Adjust the value to move the line down */
}