@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600&display=swap');

:root {
    --text-color: #434343;
    --bg-color: #FFE49D;
    --primary-color: #EDB343;
    --secondary-color: #F4F4F4;
    --accent: #FF5252;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    /* set svg from images/Background.svg */
    background-image: url('../images/Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: var(--text-color);
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 3.3rem;
    filter: invert();
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
}

.brand p:nth-child(1) {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: #0f0f24;
    color: var(--secondary-color);
    padding: 1rem 2rem;
    justify-content: space-between;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: auto;
}
.links a{
    text-decoration: none;
    color: var(--primary-color);
    transition: transform 0.3s ease-in-out;
}
.links a:hover {
    color: var(--accent);
    transform: scale(1.1);
}
.signinBtn {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.signinBtn:hover {
    transform: scale(1.1);
    background-color: var(--accent);
}

.profileBtn, .adminBtn {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
}

.profileBtn:hover {
    transform: scale(1.1);
    background-color: var(--accent);
}
.logout {
    display: grid;
    place-items: center;
    filter: invert();
    padding: .2rem;
    border-radius: .5rem;
    margin-inline: 1rem;
}


#menuBtn {
    display: none;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 90vh;
}
.logo-footer {
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hero-section {
    font-size: 2rem;
}
.hero-section div {
    /* line-height: 2.5rem; */
    padding-block: 3rem;
}
.contacts-section {
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
}
.title span {
    font-family: 'Pacifico', cursive;
}
.contact-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.contact-links > *:hover {
    transform: scale(1.1);
}
.right {
    position: relative;
}
#donutmalaki {
    z-index: 0;
    animation: move 2s infinite;
}
@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
    
}
.right .arrow{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: -30%;
    bottom: -10%;
    z-index: 100;
}
.right .arrow img {
    width: 15rem;
    transform: scale(-1);
    transform: rotate(150deg);
}



.popup {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.active {
    opacity: 1;
    visibility: visible;
}
.popup .forms {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    position: relative;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.373);
}
.forms form {
    transition: all 0.3s ease-in-out;
}
#closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
}
#signinOrRegister {
    position: absolute;
    z-index: 100;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem 1rem;
    background-color: var(--secondary-color);
    border: none;
    border-top: 1px solid gray;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: var(--text-color);
}
#signinOrRegister:hover {
    background-color: var(--accent);
}

.inputfield {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}
.inputfield input {
    padding: .5rem 1rem;
    border-radius: .3rem;
    width: 15vw;
    outline: none;
    border: 1px solid gray;
}
.hide {
    width: 0;
    overflow: hidden;
    height: 0;
}
.forms form button {
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: .5rem;
    margin: auto;
}
.forms form button:hover {
    background-color: var(--accent);
    transform: scale(1.1);
}


@media only screen and (max-width: 680px) {
    .popup {
        position: fixed;
        inset: 0;
        backdrop-filter: blur(5px);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .active {
        opacity: 1;
        visibility: visible;
    }
    .popup .forms {
        background-color: var(--secondary-color);
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        position: relative;
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.373);
    }
    .forms form {
        transition: all 0.3s ease-in-out;
    }
    #closeBtn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 1.5rem;
    }
    #signinOrRegister {
        position: absolute;
        z-index: 100;
        bottom: -5%;
        left: 50%;
        transform: translateX(-50%);
        padding: .5rem 1rem;
        background-color: var(--secondary-color);
        border: none;
        border-top: 1px solid gray;
        border-radius: .5rem;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        color: var(--text-color);
    }
    #signinOrRegister:hover {
        background-color: var(--accent);
    }

    .inputfield {
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;
    }
    .inputfield input {
        padding: .5rem 1rem;
        border-radius: .3rem;
        width: 60vw; 
        outline: none;
        border: 1px solid gray;
    }
    .hide {
        width: 0;
        overflow: hidden;
        height: 0;
    }
    .forms form button {
        padding: .5rem 1rem;
        background-color: var(--primary-color);
        border: none;
        border-radius: .5rem;
        margin: auto;
    }
    .forms form button:hover {
        background-color: var(--accent);
        transform: scale(1.1);
    }
}



/* media query for phones */
@media only screen and (max-width: 680px) {
    .hero-section {
        font-size: 1.5rem;
    }
    .hero-section div {
        /* line-height: 3rem; */
        padding-block: 1rem;
    }
    .main {
        flex-direction: column;
    }
    .right {
        display: none;
    }
    .logo-footer {
        display: none;
    }
    .signinBtn {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 100;
    }
    .nav {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    .links {
        flex-direction: row;
        gap: 1rem;
    }
    main {
        height: 100vh;
    }

}



.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-wrapper a,
.button-wrapper button {
    margin-right: 1rem;
}


@media screen and (max-width: 400px) {
    
    
}